{% extends "base.html" %}

{% block title %}Formulario de Clase{% endblock %}

{% block additional_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block heading %}Formulario de Clase{% endblock %}

{% block content %}
<form action="/" method="post">
    <div class="form-group">
        <label for="codigo">Código del Maestro:</label>
        <input type="text" class="form-control" id="codigo" name="codigo" required>
    </div>
    <div class="form-group">
        <label for="materia">Materia:</label>
        <input type="text" class="form-control" id="materia" name="materia" required>
    </div>
    <div class="buttons">
        <input type="submit" class="btn btn-success" name="Iniciar" value="Comenzar Clase"/>
    </div>

</form>
{% endblock %}
